@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://fonts.cdnfonts.com/css/pokemon-hollow');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;500;700&display=swap');
/* font-family: 'Pokemon Hollow', sans-serif;
font-family: 'Pokemon Solid', sans-serif; */

* {
    font-family: var(--font-primary);
    font-size: 18px;
    box-sizing: border-box;
    padding: 0;
    margin: 1px;
    text-transform: capitalize;
}

:root {
    --poke-font-solid: 'Pokemon Solid', sans-serif;
    --poke-font-hollow: 'Pokemon Hollow', sans-serif;
    --font-primary: 'Encode Sans Condensed', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.poke-title {
    font-family: var(--poke-font-solid);
    font-size: 45px;
    color: #222;
}

#principal {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#pokeName,
.btn {
    height: 40px;
    text-align: center;
}

.btn {
    background-color: #444;
    color: #f5f5f5;
    width: 100px;
}


.poke-basic--info {
    background-color: #E06469;
    border-radius: 15px;
    width: 95vw;
    height: 70vh;
    /*  */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.white-background {
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 255px;
    /*  */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#pokeNameResult {
    font-size: 35px;
}

#idPokedex {
    font-weight: 600;
    font-size: 20px;
}

.poke-img {
    /* background-color: yellowgreen; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

.box-version {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: darkgoldenrod; */
    width: 100%;
}

.poke-version-img {
    background-color: #f5f5f5;
    padding: 5px;
    border-radius: 4px;
}

.shiny {
    background-color: #E3F2C1;
    padding: 5px;
}

/* tablet size */
@media screen and (max-width: 879px) {

    .poke-basic--info {
        width: auto;
    }

    .white-background {
        background-color: #f5f5f5;
        padding: 30px;
        border-radius: 255px;
        height: 70%;
        width: 90%;
        /*  */
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .poke-img--box {
        display: flex;
    }

    #poke-img,
    #poke-img-shiny {
        width: 350px;
    }



}

/* very small size */
@media screen and (max-width: 430px) {

    #poke-img,
    #poke-img-shiny {
        width: 200px;
    }


}

/* laptop size */
@media screen and (max-width: 1439px) {


    .poke-basic--info {
        width: 100%;
    }

    img {
        width: 400px;
    }


}